.parentCard {
    .load_image {
        min-height: 200px;
        max-height: 200px;
    }
    img {
        cursor: pointer;
        min-height: 200px;
        max-height: 200px;
        object-fit: cover;
    }
}